<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56014/GameDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameDataService"
                contract="GameDataService.IGameDataService" name="BasicHttpBinding_IGameDataService" />
        </client>
    </system.serviceModel>
</configuration>