<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GameDataServiceSoap"
          maxBufferSize="2147483647"
         maxBufferPoolSize="2147483647"
         maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55673/GameDataService.asmx"
        binding="basicHttpBinding" bindingConfiguration="GameDataServiceSoap"
        contract="GameDataService.GameDataServiceSoap" name="GameDataServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>