<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GameDataServiceSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55673/GameDataService.asmx"
          binding="basicHttpBinding" bindingConfiguration="GameDataServiceSoap"
          contract="GameDataService.GameDataServiceSoap" name="GameDataServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>